<div class="section-header">
  <h2 class="section-title is-size-2-desktop is-size-2-tablet is-size-2-mobile">Oops</h2>
</div>
<div class="section-body">
  <p class="is-size-3-desktop is-size-3-tablet is-size-3-mobile"><%= errors.message %></p>
</div>
<div class="section-footer">
  <%= link_to "Try again", root_path, class: "btn btn-next" %>
</div>