@media screen and (min-width: 1024px) {
  .is-size-1-desktop {
    font-size: 3rem !important;
  }

  .is-size-2-desktop {
    font-size: 2.5rem !important;
  }

  .is-size-3-desktop {
    font-size: 2rem !important;
  }

  .is-size-4-desktop {
    font-size: 1.5rem !important;
  }
}


@media screen and (max-width: 768px) {
  .is-size-1-mobile {
    font-size: 2rem !important;
  }

  .is-size-2-mobile {
    font-size: 1.5rem !important;
  }

  .is-size-3-mobile {
    font-size: 1rem !important;
  }

  .is-size-4-mobile {
    font-size: 0.5rem !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .is-size-1-tablet {
    font-size: 2.5rem !important;
  }

  .is-size-2-tablet {
    font-size: 2rem !important;
  }

  .is-size-3-tablet {
    font-size: 1.5rem !important;
  }

  .is-size-4-tablet {
    font-size: 1rem !important;
  }
}